# Задачи
    1. Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные. 
    2. Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.
    3. Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.
    4. На сколько ночей в среднем бронируют отели разных типов?
    5. Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?
    6. Проанализируйте даты запланированного прибытия. 
        – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
        – Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов
    7. Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?
    8. Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?
    9. Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

1. Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

In [1]:
import pandas as pd

In [2]:
bookings = pd.read_csv('./shared/homeworks/python_ds_miniprojects/2/bookings.csv', sep=';')

In [3]:
bookings.shape

(119390, 21)

In [4]:
bookings.dtypes.value_counts()

int64      10
object     10
float64     1
dtype: int64

In [5]:
bookings.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

2. Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

In [6]:
book_cols = [x.lower().replace(" ", "_") for x in bookings.columns]
book_cols[:5]

['hotel', 'is_canceled', 'lead_time', 'arrival_full_date', 'arrival_date_year']

In [7]:
bookings.columns = book_cols
bookings.head(5)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

3. Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

In [8]:
bookings.query("is_canceled == 0").country.value_counts().head(5)

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

4. На сколько ночей в среднем бронируют отели разных типов?

In [9]:
bookings.groupby('hotel', as_index=False).agg({'stays_total_nights':'mean'})

          hotel  stays_total_nights
0    City Hotel            2.978142
1  Resort Hotel            4.318547

5. Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

In [10]:
bookings.query("assigned_room_type != reserved_room_type").shape[0]

14917

In [11]:
bookings[bookings.assigned_room_type != bookings.reserved_room_type].shape[0]

14917

6. Проанализируйте даты запланированного прибытия. 
        – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
        – Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов

In [12]:
bookings[bookings.arrival_date_year == 2016].arrival_date_month.value_counts().idxmax()

'October'

In [13]:
bookings[bookings.arrival_date_year == 2017].arrival_date_month.value_counts().idxmax()

'May'

Как видим, популярный месяц в 2017 изменился

In [16]:
bookings.query("hotel == 'City Hotel'")\
        .groupby(['arrival_date_year', 'arrival_date_month'], as_index=False)\
        .agg({'reservation_status':'count'})\
        .sort_values(by=['arrival_date_year', 'reservation_status'], ascending=False)\
        .head(10)

    arrival_date_year arrival_date_month  reservation_status
25               2017                May                4556
23               2017               June                3971
18               2017              April                3919
22               2017               July                3559
24               2017              March                3412
19               2017             August                3125
20               2017           February                2594
21               2017            January                2372
16               2016            October                4219
12               2016               June                3923

7. Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [18]:
print(bookings[['adults', 'children', 'babies']].mean())
bookings[['adults', 'children', 'babies']].mean().idxmax()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

'adults'

8. Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

In [19]:
bookings['total_kids'] = bookings.children + bookings.babies

In [20]:
print(bookings.query("total_kids > 0")['hotel'].value_counts())
bookings.groupby('hotel').agg({'total_kids':'mean'}).max().round(2)

City Hotel      5403
Resort Hotel    3929
Name: hotel, dtype: int64

total_kids    0.14
dtype: float64

9. Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

In [21]:
bookings['has_kids'] = bookings.total_kids > 0

In [22]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0,False
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0,False
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0,False

In [22]:
canceled_kids_true = bookings.query('has_kids == True')['is_canceled'].value_counts()
print(canceled_kids_true)

0    6073
1    3259
Name: is_canceled, dtype: int64

In [23]:
canceled_kids_false = bookings.query('has_kids == False')['is_canceled'].value_counts()
print(canceled_kids_false)

0    69093
1    40965
Name: is_canceled, dtype: int64

In [24]:
bookings_total = bookings.shape[0]

In [25]:
canceled_kids_false[1] / canceled_kids_false[0]

0.5928965307628848

In [26]:
canceled_kids_true[1] / canceled_kids_true[0]

0.5366375761567594

In [27]:
bookings_total

119390

In [28]:
(bookings.query("is_canceled == 1 & has_kids == True").shape[0] / bookings.query("has_kids == True").shape[0])*100

34.92284612087441

In [29]:
(bookings.query("is_canceled == 1 & has_kids == False").shape[0] / bookings.query("has_kids == False").shape[0])*100

37.221283323338604